body{
   background: linear-gradient(rgb(136, 80, 80), rgb(22, 158, 212));
 font-size: large;
       font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.img1{
width: 300px;
height: 300px;
display: block;
margin: auto;
}
h1{
    display: flex;
    justify-content: center;
}

table{
overflow-x: auto;
}
p{
    display: flex;
    justify-content: center;
}
tr:nth-child(even){
    background-color: #e4e4e4;
}
tr:nth-child(odd){
    background-color: rgb(255, 226, 226);
}
