body{
    /* Linear gradient para el degradado de la pagina */
    background: linear-gradient(rgb(136, 80, 80), rgb(22, 158, 212));
      font-size: large;
            font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
img{
    /* width para la anchura y height para la altura */
    width: 300px; 
height: 300px;
display: block;
margin: auto;
}
.textop{
    display: flex;
    justify-content: center;
}
li{
    /* Para que se pongan una a la par de la otra */
    display: inline;

}
button :hover{
    /* Para que cuando pase por encima se ponga de color verde */
    background-color: rgb(13, 255, 0);
}

.inicio{
    display: flex;
    justify-content: center;
}
.titulo{
  display: flex;
  justify-content: center;
    animation-duration: 6s;
    animation-name: mau;
   color: lightgray;
}
@keyframes mau{
  from{
      color: rgb(0, 191, 255);
  }
  to{
    color: white;
  }
}
.img2{
    width: 300px;
    height: 300px;
    transform: rotate(30deg);
}

