body{
     background: linear-gradient(rgb(136, 80, 80), rgb(22, 158, 212));
     font-size: large;
      font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.img1{
    /* display block margin auto para que se centre */
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
   
}
h1, h2, p{
    display: flex;
    justify-content: center;
}
video{
    width: 600px;
    height: 300px;
    display: block;
    margin: auto;

}
audio{
    display: block;
    margin: auto;
}
#columna{
    /* Para que el texto se haga en 3 columnas */
    column-count: 3;
    column-rule: 3px solid black;
}
.titulo{
    animation-duration: 6s;
    animation-name: mau;
   color: lightgray;
}
@keyframes mau{
  from{
      color: rgb(0, 191, 255);
  }
  to{
    color: white;
  }
}
.img2{
    width: 300px;
    height: 300px;
    transform: rotate(30deg);
     display: block;
 margin: auto;
}
